
.body{
    margin: 0;
    padding: 0;
    border: none;
}

.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top:0;
    height: 7%;
    margin: 0;
    padding: 0;
    border: none;
}
.bot-name{
    color: #ffffff;
    position: fixed;
    font-size: 25px;
}
.header-left{
    background-color: #ff6e00;
    width:150px;
    padding: 0;
    margin: 0;
    height: 7%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
}

.header-right{
    background-color: white;
    width:450px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    float: right;
    display: inline;
}

.user-info{
    background-color: darkgrey;
    width: 30%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 70;
}
.user-info p{
    
    float: right;
    display: inline;
    text-align: center;
    padding-top: 12px;
    padding-right: 15px;
}
.header-menu{
    display: inline;
    position: absolute;
    right: 30%;
    width: 50%
}

.header-menu li{
    list-style-type: none;
    display: inline;
    float: right;
}

.header-menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}

.header-menu li a:hover{
    color: coral;
}
.content-container{  
    width: 100%;
    position: fixed;
    top: 7%;
    background-color:#F5F5F5;
    padding: 0;
    margin: 0;
    border: none;
    left: 0;
    height: 93%;
}

.card-container{
    width: 80%;
    position: absolute;
    display: inline;
    padding-top: 20px;
    left: 15%;
    top: 3%;
}
.card-container a{
    text-decoration: none;
    color:black;
}
.card-content i{
    position: relative;
    left: 43%;
    padding-top: 40px;
}
.card-content p{
   margin-left: 160px;
    width:90px;
    
}
.course-card{
    padding: 0 6px;
    margin: 20px;
    float: left;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    height: 250px;
}
.card-header{
    position:relative;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    height: 15%;
    width: 98%;
    padding: 4px;
    margin: 0;
}
.card-header p{
    font-size: 18px;
}
.card-content {
    display: inline;
}

.card-footer{
    position: relative;
    padding-top: 4px;
    height: 30px;
    display: block;
    width: 100%;
    bottom: 2%;
}
.card-footer span{
    font-size: 18px;
    display: inline-block;
    float: right;
    padding: 2px;
    vertical-align: center;
    padding-top: 9px;
}
.card-footer p{
    font-size: 14px;
    font-family: Helvetica;
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 5px;
}
.course-name{
    margin: 0 0 4px 0;
    padding: 10px 0 0 4px;
}
.course-dp{
    padding:10px 5px;
    height: 60%;
    width: 40%;
    display: inline;
}
.course-desc{
    top:45%;
    left: 13%;
    height: 150px;
    width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    float: right;
    margin-top: 15px;
    font-family: Helvetica;
    color: darkslategray;
}
.course-desc p{
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
    width: 200px;
}
.course-card:hover{
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    transform: scale3d(1.006, 1.006, 1);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}

h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}


  
  input, textarea {
     outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 95%;
      margin-left: 3%;
     margin-top: 2em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
      border-radius: 5px;
      border: solid 1px deepskyblue;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: coral;
     cursor: pointer;
      width: 20%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 40%;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
